body{
    background-color: #000000ea;
    font-family: Tahoma;
    margin-bottom: 20px;
    animation: transitionIN 0.75s;
}

header {
    font-weight: normal;
    text-align: center;
  }
  
  h1 {
    font-family: "Geologica", serif;
    font-weight: normal;
    font-size: 80px;
    color: #FFFFFF;
  border-bottom: 1px solid #808080;
  display: inline-block;
  padding-bottom: 5px;
  width: 600px;
  margin-bottom: 10px;
  margin-top: 75px;
  }
  
.cjenik
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 5;
    color: #FFFFFF;
    text-align: center;

}

.centriranje {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    opacity: 1;
  }

  @keyframes transitionIN {
    from{
      opacity: 0;
      transform: rotateX(-10deg);
    }

    to{
      opacity: 1;
      transform: rotateX(0);
    }
  }
  
.meni_pice {
    padding: 0 30px 0 0;
    background-color: rgb(69, 69, 69);
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: cover;
    background-size: auto 100%;
    text-align: right;
    color: white;
    border-radius: 40px;
    font-size: 35px;
    overflow: hidden;
    border: 2px solid goldenrod;
    margin-bottom: 50px;
}
.meni_pice:hover{
  cursor: pointer;
}


.meni_pice img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  z-index: 1;
}

footer {
  text-align: center;
  color: #808080;
  margin-top: 20px;
  border-top: 2px solid white;
}

.container {
  padding: 5px;
  line-height: 0.8;
}

.footer-text{
  text-align: center;
  font-size: 14px;
  padding: 20px;
  color: #808080;
}
